<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>Natural Language Processing - Deep Learning Methods - Evaluation on Imdb Large Movie Review Dataset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <nav class="sidebar opened">
        <div class="logo_part">
            <div class="logo">
                <img src="../static/img/movie.jpg" alt="">
            </div>
            <p class="logo_name">Movie Review Classifier</p>
        </div>
        <div class="pages">
            <a href="/" class="item" status="selected">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" stroke="currentColor"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" fill="currentColor"/></svg>
                </div>
                <div class="text">
                    Home
                </div>
            </a>
            <a href="/classifier" class="item">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" stroke="currentColor"><path d="M360-120q-33 0-56.5-23.5T280-200v-400q0-33 23.5-56.5T360-680h400q33 0 56.5 23.5T840-600v400q0 33-23.5 56.5T760-120H360Zm0-400h400v-80H360v80Zm160 160h80v-80h-80v80Zm0 160h80v-80h-80v80ZM360-360h80v-80h-80v80Zm320 0h80v-80h-80v80ZM360-200h80v-80h-80v80Zm320 0h80v-80h-80v80Zm-480-80q-33 0-56.5-23.5T120-360v-400q0-33 23.5-56.5T200-840h400q33 0 56.5 23.5T680-760v40h-80v-40H200v400h40v80h-40Z" fill="currentColor"/></svg>
                </div>
                <div class="text">
                    Classifier
                </div>
            </a>
        </div>
    </nav>
    <section class="main">
        <header class="header">
            <div class="left">
                <div class="menu_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </div>
                <p class="text">
                    Hide taskbar
                </p>
            </div>
        </header>
        <section class="content">
            <div class="hero">
                <h1>Movie Review Classifier</h1>
                <h2>Instantly classify movie reviews as positive or negative using AI-powered sentiment analysis.</h2>
                <a href="/classifier">Try It Now</a>
            </div>
            <div class="how">
                <h1>How it works ?</h1>
                <p>Our models have been trained on the IMDB Large Movie Review dataset and tested on the Amazon Movie Reviews dataset to perform the specific task of predicting the class of a movie review. To use, you can select the model you want to use and then import an excel or csv file containing all your reviews. Then the model will analyze them and return meaningful statistics and the classification results</p>
            </div>
            <div class="models">
                <h1>Models</h1>
                <table>
                    <thead>
                        <th>Model</th>
                        <th>Preprocessing</th>
                        <th>Performances</th>
                        <th></th>
                        <th>Notebook</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LSTM</td>
                            <td>Word Tokenization</td>
                            <td>87% | 84%</td>
                            <td>
                                <a class="download" href="https://drive.google.com/file/d/17sJ0R3VEJinqlll7AHkxMq3p5D8K0G4H/view?usp=drive_link">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                                    </div>
                                    <p>Download</p>
                                </a>
                            </td>
                            <td>
                                <a href="">Try it out</a>
                            </td>
                        </tr>
                        <tr>
                            <td>LSTM</td>
                            <td>Byte Pair Encoding</td>
                            <td>86% | 88%</td>
                            <td>
                                <a class="download" href="https://drive.google.com/file/d/1YkUZBf4fQ1PbszwUWecNwVhptlSopeT9/view?usp=drive_link">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                                    </div>
                                    <p>Download</p>
                                </a>
                            </td>
                            <td><a href="">Try it out</a></td>
                        </tr>
                        <tr>
                            <td>LSTM</td>
                            <td>GPT2 Byte Pair Encoder</td>
                            <td>86% | 85%</td>
                            <td>
                                <a class="download" href="https://drive.google.com/file/d/1MDuqyBtK2aHFL3Fa2Sl4NOHI7hnsiMqQ/view?usp=drive_link">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                                    </div>
                                    <p>Download</p>
                                </a>
                            </td>
                            <td><a href="">Try it out</a></td>
                        </tr>
                        <tr>
                            <td>GRU</td>
                            <td>Word Tokenization</td>
                            <td>87% | 88%</td>
                            <td>
                                <a class="download" href="https://drive.google.com/file/d/1T0XL1BhjlY7u0oaxMqINLxSpHZzAGz9P/view?usp=drive_link">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                                    </div>
                                    <p>Download</p>
                                </a>
                            </td>
                            <td><a href="">Try it out</a></td>
                        </tr>
                        <tr>
                            <td>GRU</td>
                            <td>Byte Pair Encoding</td>
                            <td>86% | 89%</td>
                            <td>
                                <a class="download" href="https://drive.google.com/file/d/1iC19qTdLufCdNTxuifk3b609Bl4eoaFX/view?usp=drive_link">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                                    </div>
                                    <p>Download</p>
                                </a>
                            </td>
                            <td><a href="">Try it out</a></td>
                        </tr>
                        <tr>
                            <td>GRU</td>
                            <td>GPT2 Byte Pair Encoder</td>
                            <td>86% | 78%</td>
                            <td>
                                <a class="download" href="https://drive.google.com/file/d/1mambCuFKBMgQ5Kx1TbwIzGRo-_eqFRwF/view?usp=drive_link">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                                    </div>
                                    <p>Download</p>
                                </a>
                            </td>
                            <td><a href="">Try it out</a></td>
                        </tr>
                        <tr>
                            <td>Transformer</td>
                            <td>Byte Pair Encoding</td>
                            <td>87% | 88%</td>
                            <td>
                                <a class="download" href="https://drive.google.com/file/d/1yCxtYTKHbjaZmgH0zCvRM_Aat6VBRpUa/view?usp=drive_link">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                                    </div>
                                    <p>Download</p>
                                </a>
                            </td>
                            <td><a href="">Try it out</a></td>
                        </tr>
                        <tr>
                            <td>Transformer</td>
                            <td>GPT2 Byte Pair Encoder</td>
                            <td>88% | 79%</td>
                            <td>
                                <a class="download" href="https://drive.google.com/file/d/1vAq0GYGqJrBfj1AXUpSEqEJFYcxWyBiR/view?usp=drive_link">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                                    </div>
                                    <p>Download</p>
                                </a>
                            </td>
                            <td><a href="">Try it out</a></td>
                        </tr>
                    </tbody>
                </table>
                <p>In the performance column, the evaluation metric is Accuracy. The first value (before the |) is the accuracy on IMDB dataset and the second one is the accuracy on Amazon Movie Reviews Dataset</p>
            </div>
            <div class="sample">
                <h1>Samples</h1>
                <p></p>
            </div>
        </section>
    </section>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>